<style>
		/*#formCity{
			background-color: rgba(0,0,255,0.3);
		}
		#formAirport{
			background-color: rgba(0,0,255,0.3);
		}*/
		.button1 {
			background-color: #008CBA;
			color: red;
			font-size: 16px;
			margin: 4px 2px;
    		cursor: pointer;
    		display: inline-block;
    		text-align: center;
    		/*padding: 15px 32px;*/
		}
		body{
			background-color: #9999FF;
		}
		h1.thick{
			font-weight: bold;
		}
</style>